@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #fdf4ff;
    /* #fae8ff; */
    --foreground: #171717;
    --font: 220 13% 91%;
    --header: hsl(0, 0%, 100%);
    /* header라는 컬러는사용하기위해 hsl() */
    --border: 220 13% 91%;

    --primary: 220 6% 10%;
    --primary-hover: 240 4% 16%;
    --primary-active: 240 4% 6%;
    --primary-foreground: 0 0% 98%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
  }
  .dark {
    --background: hsl(220.9 39.3% 11%);
    --foreground: #f0abfc;
    --font: 0 0% 98%;

    --header: rgb(31, 41, 55);
    --border: 240 0% 59%;
    --primary: 0 0% 98%;
    --primary-hover: 220 13% 91%;
    --primary-active: 220 13% 81%;
    --primary-foreground: 220 6% 10%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;
  }

  body {
    background-color: var(--background);
    color: var(--font);

    font-family: var(--font-pretendard), sans-serif;
  }
  .bg-header {
    background-color: var(--header);
    /* header라는 컬러를 사용하기 위해 선언
     */
  }
}
